@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display:swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display:swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
}

/* Блок навигации */

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-right: 72px;
  padding-left: 71px;
  box-sizing: border-box;
}

.navigation-list {
  display: flex;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  }

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
  }

.navigation-user {
  width: 350px;
  margin-left: auto;
}

.logo {
  width: 1200px;
  margin: 0 auto;
}

.logo-image {
  width: 138px;
}

/* Значки из блока навигации на главной странице */

.navigation-search {
  background-image: url(../img/search.svg);
  background-repeat:no-repeat;
}

.navigation-favourites {
  background-image: url(../img/heart.svg);
  background-repeat:no-repeat;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* Фоновое изображение на главной странице */

.welcome-section {
  background-image: url(../img/index-background.jpg);
  background-repeat:no-repeat;
  background-size: 100% auto;
  background-color: #81B3D3;
}

.background-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  }

.main-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sub-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  }

.advantages {
  text-align: center;
}

.features-white-row {
  display: flex;
  color: #FFFFFF;
  background-color: #83B3D3;
  }

.advantages-item-wrap {
  width: 400;
}

.sedona-img {
  width: 800px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
 }

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-white-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 400px;
}

.advantages-white-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
}


.advantages-item-home,
.advantages-item-gift,
.advantages-item-area,
.advantages-item-trip {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-food {
  background-color: #FFFFFF;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

/* Значки из блока "Преимущества" = пока оставляем так, потом сделать через псевдоэлелементы в css */

.advantages-item-home {
  background-image: url(../img/advantages-icon-1.svg);
  background-repeat:no-repeat;
}

.advantages-item-food {
  background-image: url(../img/advantages-icon-2.svg);
  background-repeat:no-repeat;
}

.advantages-item-gift {
  background-image: url(../img/advantages-icon-3.svg);
  background-repeat:no-repeat;
}

/* Блок поиска гостиниц */

.book-section {
  background-color: #FFFFFF;
}

.book-sub-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  }

  .book-section-hotel {
    width: 575px;
    min-height: 60px;
    background-color: #756257;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    color: #FFFFFF;
  }

/* Блок подписки на рассылку */

.subscription {
  background-image: url(../img/footer-background.jpg);
  background-repeat:no-repeat;
  background-color: #766458;
  color:#ffffff;
  text-align: center;
}

.form-sub-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.form-field {
  width: 600px;
  min-height: 60px;
  font-family: inherit;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  font-size: 18px;
  line-height: 26px;
  border: none;
}

.form-submit-button {
  width: 200px;
  min-height: 60px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  list-style-type: none;
}

/* Футер */

.footer-contacts {
  max-width: 720px;
}

.footer-contacts-address {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;

}

.footer-phone {
color:inherit;
}


/* Страница каталога */

.background-container {
  background-image: url(../img/catalog/catalog-background.jpg);
  background-repeat:no-repeat;
  background-color: #766458;
  color: #ffffff;
}

.main-title-catalog {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.form-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.form-submit {
  background-color: #83B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.catalog-filter-input {
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  }

  p .test {
    background: #000000;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 15px;
  }

.find-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.card-link {
  text-decoration: none;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.card-details {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.card-button {
  background-color: #756257;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.button-favorite {
  background-color: #83B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.card-button-favourite {
  background-color: #7DB54F;
  border-radius: 4px;
}

.rating-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.show-more-button {
  background-color: #83B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.select-number {
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.subscription-form-catalog {
  background-color: #ffffff;
}

.form-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}



/* Мелкие значки со страницы каталога */

.mode-tile {
  background-image: url(../img/catalog/mode-tile.svg);
  background-repeat:no-repeat;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.mode-slideshow {
  background-image: url(../img/catalog/mode-slideshow.svg);
  background-repeat:no-repeat;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.mode-list {
  background-image: url(../img/catalog/mode-list.svg);
  background-repeat:no-repeat;
  border: 2px solid #000000;
  border-radius: 4px;
}

