@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display:swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display:swap;
}

html {
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 1200px;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Блок навигации */

.navigation {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding-right: 72px;
  padding-left: 70px;
}

.navigation-list {
  display: flex;
  width: 400px;
  padding: 0;
  list-style-type: none;
  }

  .navigation-list li {
  margin-right: 30px;
  }

  .navigation-list li:last-child {
  margin-right: 0px;
    }

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  max-width: 160px;
  padding: 9px 10px 10px;
  border-radius: 4px;
}

.navigation-list li {
  margin-left: 30px;
}

.navigation-list li:last-child {
  margin-left: 0px;
}

.navigation-user {
  width: 350px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 0 auto;
  min-width: 138px;
}

/* Значки из блока навигации на главной странице */

.navigation-search {
  background-image: url(../img/search.svg);
  background-repeat:no-repeat;
}

.navigation-favourites {
  background-image: url(../img/heart.svg);
  background-repeat:no-repeat;
}


/* Фоновое изображение на главной странице */

.welcome-section {
  background-image: url(../img/index-background.jpg);
  background-repeat:no-repeat;
  background-size: 100% auto;
  background-color: #81B3D3;
  padding-top: 51px;
  padding-bottom: 82px;
}

.background-img {
  display: block;
  margin: auto;
}

.intro-greeting {
  padding-top: 63px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  }

.main-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sub-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 80px;
  padding-right: 240px;
  padding-left: 240px;
  }

.advantages {
  text-align: center;
}

.features-white-row {
  display: flex;
  color: #FFFFFF;
  background-color: #83B3D3;
  }

.advantages-item-сol {
  width: 400px;
  padding-top: 98px;
}

.sedona-img {
  width: 800px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 400px;
}

.advantages-white-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.advantages-item {
  width: 400px;
  padding: 10px;
  min-height: 384px;
  padding-top: 98px;
  padding-bottom: 77px;
}


.advantages-item-home,
.advantages-item-gift,
.advantages-item-area,
.advantages-item-trip {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-food {
  background-color: #FFFFFF;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

/* Значки из блока "Преимущества" = пока оставляем так, потом сделать через псевдоэлелементы в css */

.advantages-item-home {
  background-image: url(../img/advantages-icon-1.svg);
  background-repeat:no-repeat;
}

.advantages-item-food {
  background-image: url(../img/advantages-icon-2.svg);
  background-repeat:no-repeat;
}

.advantages-item-gift {
  background-image: url(../img/advantages-icon-3.svg);
  background-repeat:no-repeat;
}

/* Блок поиска гостиниц */

.book-section {
  background-color: #FFFFFF;
  padding-top: 90px;
  padding-right: 240px;
  padding-left: 240px;
  padding-bottom: 91px;
}

.book-sub-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  }

  .book-section-hotel {
    display: block;
    width: 575px;
    min-height: 60px;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 13px;
    padding-bottom: 11px;
    background-color: #756257;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    color: #FFFFFF;
  }

/* Блок подписки на рассылку */



.subscription {
  background-image: url(../img/footer-background.jpg);
  background-repeat:no-repeat;
  background-color: #766458;
  color:#ffffff;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 93px;
}

.form-title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.form-sub-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.form-field {
  width: 600px;
  height: 60px;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
  font-family: inherit;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  font-size: 18px;
  line-height: 26px;
  border: none;
}

.form-submit-button {
  width: 200px;
  min-height: 60px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
}

.page-footer-container {
  display: flex;
  padding-left: 70px;
  padding-right: 72px;
  padding-top: 40px;
  padding-bottom: 30px;
  align-items: center;
}

.social-list {
  display: flex;
  list-style-type: none;
}

/* Футер */

.footer-contacts {
  max-width: 720px;
}

.footer-contacts-address {
  display: inline-block;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;

}

.footer-phone {
color:inherit;
}


/* Страница каталога */

.background-container {
  background-image: url(../img/catalog/catalog-background.jpg);
  background-repeat:no-repeat;
  background-color: #766458;
  color: #ffffff;
  height: 408px;
}

.main-title-catalog {

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}



.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;

}

.form-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.form-submit {
  width: 160px;
  margin-bottom: 20px;
  background-color: #83B3D3;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form-reset {
  width: 160px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;

}

.catalog-filter-input {
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  }

  p .test {
    background: #000000;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 15px;
  }

 .sorting-hotels {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 72px;
  padding-left: 70px;
 }


.find-hotels {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}


.hotels-list li {
  list-style-type: none;
}

.card-link {
  text-decoration: none;
}

.card-image {
  width: 180px;
  height: 120px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.card-details {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
}

.card-button {
  background-color: #756257;
  width: 151px;
  padding-top: 9px;
  padding-bottom: 10px;

}

.button-favorite {
  background-color: #83B3D3;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.card-button-favourite {
  background-color: #7DB54F;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.rating-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.show-more-button {
  background-color: #83B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  width: 625px;
  height: 55px;
  border: none;
}


.pagination-container {
  display: flex;
  padding-top: 34px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.hotels-number-page {
  display: flex;
  width: 386px;
  margin-left: auto;
}

.select-number {
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  width: 160px;
  height: 48px;
}

.subscription-form-catalog {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 89px;
}

.form-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.index-footer {
  display: flex;
  padding-left: 70px;
  padding-right: 72px;
  padding-top: 40px;
  padding-bottom: 30px;
  align-items: center;
}


/* Мелкие значки со страницы каталога */

.mode-tile {
  background-image: url(../img/catalog/mode-tile.svg);
  background-repeat:no-repeat;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.mode-slideshow {
  background-image: url(../img/catalog/mode-slideshow.svg);
  background-repeat:no-repeat;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.mode-list {
  background-image: url(../img/catalog/mode-list.svg);
  background-repeat:no-repeat;
  border: 2px solid #000000;
  border-radius: 4px;
}

